$main_bg: linear-gradient(0deg, #48c6ef  0%, #3851af 100%);
$bg_color: #0D3B66;
$font_color: white;
$black: #222;
$bg_black: linear-gradient(160deg, $black  0%, $black 100%);
$title_color: #ffffff;
$blue: #4f9acc;
$grey: #88a4a7